/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require flag_icon_css
 *= require bootstrap_and_overrides
 */

.main-content{
  min-height:75vh;
}

.main-footer h3{
  text-align: right;
}

.row{
  margin: 20px auto;
}

.btn{
  width: 100%;
}

.form-group{
  text-align: center;
}

.form-group .row input{
  margin: 10px 0;
  width: 100%;
}

.modal-content{
  padding: 40px;
}

.about{
  min-height: 90vh;
}

.create-params{
  min-height: 70vh;
}

.content{
  position: absolute;
  right: 0;
}

.link{
  cursor: pointer;
}

.modal-header h1, .modal-header h5{
  font-style: italic;
}

.about-body{
  min-height: 45vh;
  font-size: 1.2em;
  text-align: justify;
}

.create-params-body{
  min-height: 45vh;
}

.modal-body .list-container{
  display: inline-block;
}

.modal-body h4{
  font-weight: bold;
  text-align: center;
}

.paragraph{
  text-indent: 25px;
  font-size: 1em;
}

.error{
  min-height: 30vh;
  text-align: center;
  width:100%;
  display: table;
}

.error span{
  display: table-cell;
  vertical-align: middle;
}

.formulas, .error{
  min-height: 45vh;
}

.results .expression {
  background-color: #275B87;
  border-radius: 15px 50px;
  padding: 5px;
  border: 1px solid #333;
}

.results .result-container{
  background-color: #2387DE;
  padding:0 15px 0 10px;
  border-radius: 15px 40px;
}

.results .form-group h1{
  margin-top: 0;
}

.results .form-group label{
  margin-top: 5px;
}

.results .variables{
  color: #FFEBD4;
  font-size: 16px;
  margin:5px 10px 10px 10px;
}

.results .variables::after {
  content: ';';
}

.results .variables:last-of-type:after {
  content: '.';
}

.result-calc{
  border-radius: 15px 75px;
  background-color: #63B7FF;
}

.results {
  background-color: transparent;
  border: 0;
  padding: 0;
}

.alert {
  position: fixed;
  top: 10vh;
  right: 5vh;
  z-index: 1000;
  width: 30vw;
}

.flag-icon{
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  margin:0;
}

.i18n{
  background-color: rgba(3, 3, 3, 0.05);
  padding: 0;
  float: right;
}

#preload{
  display: flex;
  position: absolute;
  align-items: center;
  margin: 0 auto;
  cursor: wait;
  z-index: 1001;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}
